@model YelpSharp.Data.Business

<tr>
    <td class="col-xs-2 img-col"><div class="img-container"><a href="@Model.url" target="_blank"><img src="@Model.image_url" class="media-object" style="width:120px"></a></div></td>
    <td class="col-xs-8">
        <p class="lead">

            <a href="@Model.url" target="_blank">
                @Model.name
            </a>

        </p><p>@Model.location.display_address[0]</p><p>@Model.snippet_text</p>
    </td>
    <td class="col-xs-2">
        <input type="button" value="0 Going" class="btn btn-default" onclick="location.href='@Url.Action("Login", "Account")'" />
    </td>
</tr>
<tr><td colspan="100%"><hr /></td></tr>
