@model fcNightlife.Models.SearchModel

@{
    ViewBag.Title = "Home Page";
}
@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}


<div class="jumbotron">
    <h1>What's up today?</h1>
    <p class="lead">Search for bars in your area, see if other people are going tonight, and RSVP!</p>

    <div class="form-inline">
        @using (@Ajax.BeginForm("ShowList", "Home",
                        new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "resultdiv", InsertionMode = InsertionMode.Replace, LoadingElementId = "waitimage" }))

        {
            <div class="form-group">
                <fieldset>
                    <span class="editor-field">
                        @Html.TextBoxFor(m => m.Location, new { @Value = @Session["Location"] != null ? @Session["Location"].ToString() : "", @required = true, @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.Location) })
                    </span>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <span id="waitimage" class="glyphicon glyphicon-refresh glyphicon-spin" style="display: none;"></span>
                </fieldset>
            </div>
        }
    </div>
</div>


<div id="resultdiv">
    @if (@Session["SearchResults"] != null)
    {
        @Html.Partial("_ShowList", @Session["SearchResults"]);
    }
</div>    




